input[type="radio"] {
  display: none;
}

.carousel-item {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  right: 40%;
  margin: auto;
  transition: transform 0.4s ease;
  cursor: pointer;
}

.carousel-item__content {
  width: 100%;
  display: flex;
}

.main-content__carousel {
  width: 100%;
  max-width: 50%;
  height: 35%;
  padding: 0.625rem;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.carousel-item__content .video {
  width: 60%;
  height: 100%;
}

.streamer-info {
  width: 40%;
  background-color: var(--header-background-color);
  padding: 0.625rem;
  color: var(--text-color);
  font-size: 1vw;
}

.carousel {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 1.25rem;
}

#item-1:checked ~ .carousel #video-3,
#item-2:checked ~ .carousel #video-1,
#item-3:checked ~ .carousel #video-2 {
  transform: translatex(-40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked ~ .carousel #video-2,
#item-2:checked ~ .carousel #video-3,
#item-3:checked ~ .carousel #video-1 {
  transform: translatex(40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked ~ .carousel #video-1,
#item-2:checked ~ .carousel #video-2,
#item-3:checked ~ .carousel #video-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}

@media screen and (max-height: 750px) {
  .main-content__carousel {
    display: none;
  }
}

@media screen and (max-width: 1400px) {
  .main-content__carousel {
    height: 30%;
  }
}

@media screen and (max-width: 1200px) {
  .main-content__carousel {
    height: 25%;
  }
  .carousel-item {
    position: absolute;
    left: 55%;
  }
}

@media screen and (max-width: 1000px) {
  .main-content__carousel {
    height: 20%;
  }
}

@media screen and (max-width: 900px) {
  .main-content__carousel {
    display: none;
  }
}
