.main-content__categories {
  height: 3rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(15, 9rem);
  grid-auto-flow: row;
  overflow-x: scroll;
  scroll-behavior: smooth;
  margin-top: 1rem;
}

.main-content__categories::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

.main-content__category {
  background-color: var(--header-background-color);
  margin: 0rem 0.625rem;
  margin-top: 0.5rem;
  border-radius: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content__categories > div:first-child {
  background-color: var(--accent-color);
}

.main-content__categories > div:first-child a {
  color: black;
}

.main-content__category:hover {
  background-color: #314655;
  cursor: pointer;
}