:root {
  --background-color: #0C1C26;
  --header-background-color: #1e2931;
  --text-color: #ffffff;
  --accent-color: #4797C5;
  --background-secondary: #070d115d;
  --border-color: #235470;
  --icons-color: #ffffffc5;
}