.header {
  width: 100%;
  height: 4.375rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.625rem;
  box-shadow: 0rem 0.1875rem 0.4375rem rgba(129, 129, 129, 0.5);
  background-color: var(--header-background-color);
}

.header__search {
  display: flex;
  align-items: center;
}

.header__profile {
  display: flex;
  align-items: center;
}

.header__search-input {
  display: flex;
  margin-right: 0.3125rem;
}

.header__search-input_field {
  flex: 1;
  width: 25vw;
  background-color: var(--background-secondary);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  padding-left: 0.5rem;
  border-radius: 0.2rem;
}

.header__search-input_field:focus {
  outline: 0px;
  border: 1px solid white;
  border-radius: 0.2rem;
}

.header__search-input_field::placeholder {
  color: #ffffff85;
  padding-left: 0.5rem;
}

.header__search-input_button {
  background-color: var(--background-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  cursor: pointer;
  color: var(--icons-color);
  border-radius: 0.2rem;
}

.header__search-input_button:hover {
  background-color: #0c1c266b;
}

.header__logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header__logo i,
.header__logo h1 {
  color: var(--accent-color);
}

.header__logo i {
  font-size: 2rem;
  margin-right: 0.5rem;
}

.header_icon {
  background-color: transparent;
  border: 0px;
  font-size: 1.5rem;
  color: var(--icons-color);
  cursor: pointer;
}

.header_icon:hover {
  opacity: 0.7;
}

.header__profile-user {
  background-color: var(--accent-color);
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__profile_menu {
  position: absolute;
  top: 3rem;
  right: 1rem;
  color: var(--text-color);
  display: none;
  background-color: var(--header-background-color);
  width: 7rem;
  box-shadow: 0rem 0.1875rem 0.4375rem rgba(129, 129, 129, 0.5);
}

.header__profile_menu li {
  padding: 0.4rem;
  border: 1px solid var(--background-secondary);;
}

.header__profile_menu li:hover {
  background-color: var(--background-secondary);
  cursor: pointer;
}

.header__profile_menu li i {
  margin-right: 0.3rem;
}

li.logout {
  color: red;
}

.header__profile-user:hover {
  background-color: var(--icons-color);
}

.header__profile-user:hover .header__profile_menu {
  display: block;
}

@media screen and (max-device-width: 580px) {
  .header__logo h1 {
    display: none;
  }
}
