main {
  display: flex;
}

.main-content {
  width: 100%;
  height: 100vh;
  padding-top: 4.375rem;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.main-content::-webkit-scrollbar {
  width: 0rem;
}