.side-panel {
  width: 20rem;
  height: 100vh;
  background-color: var(--background-secondary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 4.375rem;
}

.side-panel_channels {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.side-panel_channels::-webkit-scrollbar {
  width: 0rem;
}

.side-panel_channels li {
  display: flex;
  height: 3rem;
  margin: 1rem 0.625rem;
  color: var(--text-color);
  align-items: center;
  justify-content: space-between;
}

.side-panel_channels li:hover {
  background-color: var(--header-background-color);
  border-radius: 1rem;
  cursor: pointer;
}

.channel-name {
  max-width: 10rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-left: 0.5rem;
}

.channel-name:hover {
  color: var(--accent-color);
  cursor: pointer;
}

.side-panel_channels li div {
  display: flex;
  align-items: center;
}

.side-panel_channels_active {
  border: 5px solid red;
  border-radius: 5px;
  margin: 0rem 0.5rem;
  background: rgba(255, 82, 82, 1);
  box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
  animation: pulse-red 2s infinite;
}

.side-panel_about {
  height: 10rem;
  padding: 0.625rem;
  border-top: 1px solid var(--accent-color);
}

.side-panel_about-content {
  background-color: var(--header-background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 2rem;
  color: var(--text-color);
  font-size: 1.2rem;
}

.side-panel_about-content > p {
  text-align: center;
}

.side-panel_about-links {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
}

.side-panel_about-links a:hover {
  cursor: pointer;
  color: var(--accent-color);
}

@keyframes pulse-red {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
  }
}

@media screen and (max-device-width: 1200px) {
  .side-panel {
    width: 4.5rem;
  }

  .channel-name,
  .side-panel_channels_activity,
  .side-panel_channels_active,
  .side-panel_channels_online,
  .side-panel_about {
    display: none;
  }
}
