.main-content__videos {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.625rem;
  padding: 0.625rem;
}

@media screen and (max-width: 1770px) {
  .main-content__videos {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1300px) {
  .main-content__videos {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 760px) {
  .main-content__videos {
    grid-template-columns: repeat(1, 1fr);
  }
}