.video img {
  width: 100%;
  height: 100%;
  border-radius: 0.625rem;
  object-fit: cover;
}

.video {
  position: relative;
}

.video__hover {
  display: none;
  background-color: rgba(0, 0, 0, 0.63);
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.video:hover {
  cursor: pointer;
}

.video:hover .video__hover {
  display: flex;
  top: 0;
  left: 0;
}

.video__live {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: red;
  color: var(--text-color);
  padding: 0.1rem;
  border-radius: 0.3rem;
}

.video__count {
  position: absolute;
  bottom: 0.5rem;
  right: 1rem;
  background-color: rgba(0, 0, 0, 0.63);
  color: var(--text-color);
  padding: 0.1rem;
  border-radius: 0.3rem;
}

.streamer-info__main {
  display: flex;
}

.streamer-info__main-text {
  width: 100%;
  margin-left: 0.625rem;
  margin-bottom: 0.625rem;
  color: var(--text-color);
}

.streamer-info__main-text p {
  max-width: 70%;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.streamer-info__main-text p:hover {
  color: var(--accent-color);
}

.video-info {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: var(--header-background-color);
  border-radius: 0.625rem;
  padding: 0.625rem;
  padding-bottom: 0px;
  justify-content: space-between;
}

.video-info .streamer-info__main {
  width: 100%;
}
